{{ define "back_to_top.tmpl" }}
<!-- Back to top -->
<button onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-indigo-600 text-white leading-9">
    <i class="uil uil-arrow-up"></i>
</button>
<!-- Back to top -->
{{ end }}
